.lt_active{
    width: 100%;
    padding: 10px;
    padding-top:0;
    overflow: hidden;
}
.lt_active a{
    float: left;
    display: block;
    width: 67%;
}
.lt_active a img{
    display: block;
    width: 50%;
    float: left;
}
.lt_active a:nth-child(2){
    float: right;
    width: 33%;
}
.lt_active a:nth-child(2) img{
    width: 100%;
}