.banner{
    width: 100%;
    overflow: hidden;
}
.banner ul{
    width: 800%;
    /*overflow: hidden;*/
}
.banner ul li{
    width: 12.5%;
    height: 100%;
    float: left;
}
.banner ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
.banner ul li a img{
    width: 100%;
    display: block;
}