.lt_footer{
    width: 100%;
    height: 45px;
    background-color:#006699;
    color:#fff;
    position: fixed;
    bottom:0;
    left:0;
    z-index: 10000;
    padding-top:5px;
}
.lt_footer a{
    float: left;
    width: 25%;
    text-align: center;
}
.lt_footer a,
.lt_footer p{
    color:#fff;
    margin:0;
}
.lt_footer p{
    font-size:10px;
}
.lt_footer a:active {
    color: #fff;
}